# Node.js
node_modules/
dist/
build/

# ESP32 (if Arduino)
*.elf
*.bin
*.hex

# OS/Editor Stuff
.DS_Store
.vscode/
.idea/

#python
__pycache__/
*.pyc
.vscode/
node_modules/
build/
*.bin
*.elf

#venv 
.venv/
__pycache__/
.pytest_cache/
*.pyc